/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

body, input {
  font-family: 'Bebas Neue', Arial, sans-serif;
  text-transform: uppercase;
}

a,
a:active {
  text-decoration: none;
  color: #000;
}

ul,
ol {
  list-style-type: none;
}

.slick-banner {
  width: 100%;
  height: 100vh;
}

.slick-banner img {
  width: 100%;
  height: 100vh;
}

.footer {
  width: 100%;
  height: 100vh;
  padding-top: 15rem;
}

.footer__subscribe {
  text-align: center;
}

.footer__subscribe-title {
  font-size: 4rem;
  letter-spacing: .3px;
  margin-bottom: 3rem;
}

.footer__subscribe-form {
  padding-top: 2.7rem;
}

.footer__subscribe-form fieldset {
  border: none;
}

.footer__subscribe-form-entry {
  margin: 0 auto;
  width: 50rem;
  position: relative;
}

.footer__subscribe-form__label {
  font-size: 2rem;
  position: absolute;
  margin-top: 8px;
  letter-spacing: .2px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  opacity: .8;
  left: 0;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  cursor: text;
  pointer-events: none;
}

.footer__subscribe-form__input {
  letter-spacing: .05em;
  font-weight: 400;
  background-color: transparent;
  background-image: none;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 2rem;
  padding-bottom: 8px;
  height: 44px;
  z-index: 1;
  padding-bottom: 8px;
  max-width: 35rem;
  width: 100%;
  text-align: center;
}

.footer__subscribe-form__input:focus {
  outline: none;
}

.footer__subscribe__additional {
  padding-top: 5rem;
  display: none;
}

.footer__subscribe__additional__box {
  position: relative;
  margin-bottom: 4.4rem;
}

.footer__subscribe__additional__box__input {
  display: none;
  position: absolute;
}

.footer__subscribe__additional__box__label {
  font-size: 2rem;
  display: block;
  margin: 0 auto;
  width: 8rem;
  text-align: left;
}

.footer__subscribe__additional__box__checkbox {
  height: 16px;
  width: 16px;
  border: 1px solid #000;
  margin-right: 8px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.footer__subscribe__additional__box__checkbox-icon {
  font-size: 1.5rem;
  opacity: 0;
}

.footer__subscribe__additional__box__input:checked ~ .footer__subscribe__additional__box__label .footer__subscribe__additional__box__checkbox .footer__subscribe__additional__box__checkbox-icon {
  opacity: 1;
}

.footer__subscribe__policy {
  padding-top: 5rem;
}

.footer__subscribe__policy__box {
  position: relative;
  margin-bottom: 4.4rem;
}

.footer__subscribe__policy__box__input {
  display: none;
  position: absolute;
}

.footer__subscribe__policy__box__label {
  font-size: 2rem;
  display: inline;
  margin: 0 auto;
  text-align: left;
  color: #7a7a7a;
}

.footer__subscribe__policy__box__checkbox {
  height: 16px;
  width: 16px;
  border: 1px solid #000;
  margin-right: 8px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.footer__subscribe__policy__box__checkbox-icon {
  font-size: 1.5rem;
  opacity: 0;
}

.footer__subscribe__policy__box__input:checked ~ .footer__subscribe__policy__box__label .footer__subscribe__policy__box__checkbox .footer__subscribe__policy__box__checkbox-icon {
  opacity: 1;
}

.footer__subscribe__policy-link {
  text-decoration: underline;
}

img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 15% 60% 20%;
      grid-template-columns: 5% 15% 60% 20%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.5rem;
}

.header__menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-link svg {
  width: 172px;
}

.header__search__link-label {
  font-size: 3rem;
  margin-right: 1rem;
}

.header__search__link-line {
  border-bottom: 1px solid #000;
  width: 15rem;
  display: inline-block;
}

.header__user__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__user__menu li {
  list-style: none;
  padding-left: 2rem;
  font-size: 1.7rem;
}

.header__user__menu-cart-link {
  display: block;
  text-align: center;
  cursor: pointer;
  position: relative;
  padding-left: 1.6rem;
}

.header__user__menu-cart-link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -53%);
          transform: translate(-50%, -53%);
}

.header__user__menu-cart-link-item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sidebar {
  position: fixed;
  min-width: 300px;
  max-width: 400px;
  height: 100vh;
  background-color: #fff;
  left: -400px;
  top: 0;
  padding: 80px 30px 0 30px;
  z-index: 20;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.sidebar__menu__subcategory {
  margin: 24px 0;
}

.sidebar-show {
  left: 0;
}

.sidebar__menu__category-name {
  font-size: 5.5rem;
  letter-spacing: .4px;
  font-stretch: condensed;
  font-weight: 400;
  line-height: 44px;
}

.category-level-2 {
  margin: 2.4rem 0;
}

.category-level-2-name {
  font-size: 3rem;
}

.category-level-3 {
  margin: .5rem 0 10rem;
}

.category-level-3-name {
  font-size: 2rem;
}

.category-level-3-li:first-child {
  margin-bottom: .7rem;
}

.sidebar__menu__subcategory {
  display: none;
}

.showmenu {
  display: block;
}

.info-menu {
  padding-top: 60px;
}

.info-menu span {
  font-size: 2.5rem;
}
/*# sourceMappingURL=style.css.map */