img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: grid;
    grid-template-columns: 5% 15% 60% 20%;
    justify-items: center;
    align-items: center;
    margin-top: 2.5rem;

    &__logo {
        &-link {
            svg {
                width: 172px;
            }
        }
    }

    &__search {
        &__link{
            &-label{
                font-size: 3rem;
                margin-right: 1rem;
            }
            &-line{
                border-bottom: 1px solid 
                $zara-black;
                width: 15rem;
                display: inline-block;
            }
        }
        

    
    }

    &__user{

        &__menu{
            display: flex;
            justify-content: flex-end;   
             align-items: center;
            li{
                list-style: none;
                padding-left: 2rem;
                font-size: 1.7rem;
            }

            &-cart{
                &-link{
                    display: block;
                    text-align: center;
                    cursor: pointer;
                    position: relative;
                 padding-left: 1.6rem;

                    svg{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -53%);
                    }
                    &-item{
                     position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}


