.sidebar{
    position: fixed;
    min-width: 300px;
    max-width: 400px;
    height: 100vh;
    background-color: $zara-white;
    left: -400px;
    top: 0;
    padding: 80px 30px 0 30px;
    z-index: 20;
    transition: all .5s;

    &__menu{

        &__category{

        }

        &__subcategory{
            margin: 24px 0;
        }
    }

    &-show{
        left:0;
    }
}

.sidebar__menu__category-name{
    font-size: 5.5rem;
    letter-spacing: .4px;
    font-stretch: condensed;
    font-weight: 400;
    line-height: 44px;
}



.category-level-2{
    margin: 2.4rem 0;
}
.category-level-2-name{
    font-size: 3rem;
}
.category-level-3{
    margin: .5rem 0 10rem;
}
.category-level-3-name{
    font-size: 2rem;
}
.category-level-3-li:first-child{
    margin-bottom: .7rem;
}

.sidebar__menu__subcategory{
   display: none;
}
.showmenu{
    display: block;
}

.info-menu{
    padding-top: 60px;
    span{
        font-size: 2.5rem;
    }
}